

.HISGold{
    
    color:#EBA100;
    
}
.HISBlue{
    
    color:#020A66;
    
}


.Blue{
 
background-color:blue;    
    
}

.Green{
 
background-color:green;    
    
}

.Yellow{
 
background-color:yellow;    
    
}

.Red{
 
background-color:red;    
    
}